asn1crypto==0.24.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3.1
defusedxml==0.5.0
httplib2==0.19.0
idna==2.7
jira==2.0.0
oauth2==1.9.0.post1
oauthlib==2.1.0
pbr==4.2.0
pycparser==2.18
PyJWT==1.6.4
requests==2.22.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
six==1.11.0
tlslite==0.4.9
urllib3>=1.24.2
